<div id="add-show-modal" class="modal modal-fx-fadeInScale">
    <div class="modal-background" onclick="closeModals();"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Добавить аниме</p>
            <button class="delete" onclick="closeModals();" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <form id="add-show-form" submit>
                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Название аниме, как оно отображается в RSS-ленте">Название</span>
                    </label>
                    <div class="control">
                        <input name="title" class="input awesomplete" list="titles-datalist" type="text"
                            placeholder="Show title" required>
                        <datalist id="titles-datalist">
                            {% for title in seen_titles %}
                            <option>{{ title }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Желаемое имя файла после его переименования.">Желаемый формат</span>
                    </label>
                    <div class="control">
                        <input name="desired_format" class="input" type="text" placeholder="{n} - {s00e00}">
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Папка для размещения готового файла.">Желаемая папка</span>
                    </label>
                    <div class="control">
                        <input name="desired_folder" class="input" type="text">
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Значение, используемое для сезона сериала при переименовании.">Сезон</span>
                    </label>
                    <div class="control">
                        <input name="season" class="input" type="number" value="1" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Положительное или отрицательное значение, на которое можно изменить номер эпизода, отображаемый в RSS-канале.">Смещение эпизода</span>
                    </label>
                    <div class="control">
                        <input name="episode_offset" class="input" type="number" value="0" required>
                    </div>
                </div>
            </form>
        </section>

        <footer class="modal-card-foot is-size-7">
            <progress class="progress is-primary is-hidden is-small mt-2" max="100"></progress>
            <input class="button is-success submits-modals" type="submit" form="add-show-form" value="Add show">
            <button class="button closes-modals" onclick="closeModals();">Отмена</button>
        </footer>
    </div>
</div>