<div id="delete-show-modal" class="modal modal-fx-fadeInScale">
    <div class="modal-background" onclick="closeModals();"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Удалить отслеживание</p>
            <button class="delete" onclick="closeModals();" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <p>Вы уверены что хотите удалить отслеживание <b><span id="item-to-delete-name"></span></b>?</p>
        </section>

        <footer class="modal-card-foot">
            <button id="delete-show-button" class="button is-danger">Удалить</button>
            <button class="button" onclick="closeModals();">Не нужно удалять</button>
        </footer>
    </div>
</div>