<div id="edit-show-modal" class="modal modal-fx-fadeInScale">
    <div class="modal-background" onclick="closeModals();"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Изменение аниме</p>
            <div class="buttons">
                <button id="del-cache-btn" class="button is-warning has-text-white">Очистить кэш</button>
                <div id="fix-match-dropdown" class="dropdown is-right">
                    <div class="dropdown-trigger">
                        <button class="button is-link" onclick="toggleFixMatchDropdown();">
                            <span>Неверное аниме?</span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <p><strong>Kitsu.io ID</strong></p>
                            </div>
                            <div class="dropdown-item">
                                <input id="fix-match-input" type="number" min="0" class="input">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="modal-card-body">
            <div id="edit-control-tabs" class="tabs">
                <ul>
                    <li id="show-info-tab" class="is-active"><a onclick="displayShowInfo();">Информация</a></li>
                    <li id="show-entry-tab"><a onclick="displayShowEntries();">Записи</a></li>
                    <li id="show-webhooks-tab"><a onclick="displayShowWebhooks();">Webhooks</a></li>
                </ul>
            </div>

            <div id="entry-tab-display" class="container is-hidden">
                <table id="show-entry-table" class="table is-fullwidth is-hoverable">
                    <thead>
                        <tr>
                            <th>Эпизод</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <form id="add-show-entry-form" submit>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field-label is-normal">
                                <label class="label">Эпизод</label>
                            </div>
                            <div class="field">
                                <input name="episode" class="input" type="number" value="0" required>
                                <p class="help is-danger is-hidden">Этот эпизод уже отслеживается.</p>
                            </div>
                            <div class="field">
                                <input name="magnet" class="input" type="text" placeholder="Magnet URL">
                            </div>
                            <input type="hidden" name="show_id">
                            <input class="button is-success" type="submit" value="Add entry">
                        </div>
                    </div>
                </form>
            </div>

            <div id="webhook-tab-display" class="container is-hidden">
                <table id="show-webhook-table" class="table is-fullwidth is-hoverable">
                    <thead>
                        <tr class="has-text-centered">
                            <th>Webhook</th>
                            <td>
                                <span class="icon has-tooltip-arrow has-tooltip-up"
                                    data-tooltip="Скачивание">
                                    <i class="fas fa-download"></i>
                                </span>
                            </td>
                            <td>
                                <span class="icon has-tooltip-arrow has-tooltip-up"
                                    data-tooltip="Скачано">
                                    <i class="fas fa-save"></i>
                                </span>
                            </td>
                            <td>
                                <span class="icon has-tooltip-arrow has-tooltip-up"
                                    data-tooltip="Переименован">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </td>
                            <td>
                                <span class="icon has-tooltip-arrow has-tooltip-up"
                                    data-tooltip="Перемещен">
                                    <i class="fas fa-file-export"></i>
                                </span>
                            </td>
                            <td>
                                <span class="icon has-tooltip-arrow has-tooltip-up"
                                    data-tooltip="Завершено">
                                    <i class="fas fa-check-circle"></i>
                                </span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <form id="edit-show-form" submit>
                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Название аниме, как оно отображается в RSS-ленте">Название</span>
                    </label>
                    <div class="control">
                        <input name="title" class="input" type="text" placeholder="Show title" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Желаемое имя файла после его переименования.">Желаемый формат</span>
                    </label>
                    <div class="control">
                        <input name="desired_format" class="input" type="text" placeholder="{n} - {s00e00}">
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Папка для размещения готового файла.">Желаемая папка</span>
                    </label>
                    <div class="control">
                        <input name="desired_folder" class="input" type="text">
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Значение, используемое для сезона сериала при переименовании.">Сезон</span>
                    </label>
                    <div class="control">
                        <input name="season" class="input" type="number" value="1" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">
                        <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-right"
                            data-tooltip="Положительное или отрицательное значение, на которое можно изменить номер эпизода, отображаемый в RSS-канале.">Смещение эпизода</span>
                    </label>
                    <div class="control">
                        <input name="episode_offset" class="input" type="number" value="0" required>
                    </div>
                </div>

                <input name="kitsu_id" type="hidden">
            </form>
        </section>

        <footer class="modal-card-foot">
            <progress class="progress is-primary is-hidden is-small mt-2" max="100"></progress>
            <input class="button is-success submits-modals" type="submit" form="edit-show-form"
                value="Save changes"></button>
            <button class="button closes-modals" onclick="closeModals();">Отмена</button>
        </footer>
    </div>
</div>