{% if updates|length > 0 %}
<div id="update-modal" class="modal modal-fx-fadeInScale is-active">
    <div class="modal-background" onclick="closeModals();"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Обнаружено новое обновление Tsundoku</p>
            <button class="delete" onclick="closeModals();" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <p class="has-text-centered">В данный момент найдено <b>{{ updates|length }}</b> коммит{% if updates|length > 1 %}ов{% endif %}!</p>
            <hr>
            <p>Хотите обновиться?</p>
            <div class="table-container">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Commit #</th>
                            <th>Сообщение</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hash_, msg in updates[:10] %}
                        {% if loop.index0 == 0 %}
                        <tr class="is-selected">
                        {% else %}
                        <tr>
                        {% endif %}
                            <th><a href="https://github.com/maxivimax/TsundokuRUS/commit/{{ hash_ }}">{{ hash_[:6] }}</a>
                            </th>
                            <td>{{ msg }}</td>
                        </tr>
                        {% endfor %}
                        {% if updates|length > 10 %}
                        <tr>
                            <td>...</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </section>

        <footer class="modal-card-foot">
            <progress id="updating-pg-bar" class="progress is-large is-primary is-hidden" max="100"></progress>
            <button id="update-button" class="button is-primary" onclick="updateTsundoku();">Обновить</button>
            <button id="close-update-modal-button" class="button" onclick="closeModals();">Не сейчас</button>
        </footer>
    </div>
</div>
{% endif %}